#navbar {
    background-color: darkslategrey;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "montserrat", Helvetica, Helvetica, Arial, sans-serif;
    /* position:sticky; */
}